<div>
  <%= render 'partials/user', { user: @user } %>
  <div class="bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>
  <div>
    <% @most_rescent_posts.each do |post| %>
      <div class="post">
        <h2>Post #<%= post.id %></h2>
        <h3><%= link_to "#{post.title}", user_post_path(user_id: @user.id, id: post.id) %></h3>
        <p><%= post.text %></p>
        <div>
          Comments:
          <%= post.CommentsCounter %>, Likes:
          <%= post.LikesCounter %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "See all posts", user_posts_path(user_id: @user.id), class: "button" %>
</div>
