<div>
  <%= render 'partials/user', { user: @user } %>

  <% @user.posts.each do |post| %>
    <div id="post_<%= post.id %>">
      <div class="post">
        <h2><%= link_to "#{post.title}", user_post_path(user_id: @user.id, id: post.id ) %></h2>
        <p><%= post.text %></p>
        <div>
          Comments:
          <%= post.CommentsCounter %>, Likes:
          <%= post.LikesCounter %>
        </div>
      </div>
      <div class="comment">
        <% post.comments.each do |comment| %>
          <span><%= comment.user.name %>: <%= comment.text %></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <button>Pagination</button>
</div>
