<div>
  <%= render 'partials/user', { user: @user } %>

  <% @user.posts.each do |post| %>
    <div id="post_<%= post.id %>">
      <div class="post">
        <h2><%= link_to "#{post.title}", user_post_path(user_id: @user.id, id: post.id ) %></h2>
        <% if (can? :destroy, post) %>
          <%= form_with method: :delete, model: post, url: "/users/#{@user.id}/posts/#{post.id}", scope: :post do |form| %>
            <%= form.submit "Delete post" %>
          <% end %>
        <% end %>
        <p><%= post.text %></p>
        <div>
          Comments:
          <%= post.CommentsCounter %>, Likes:
          <%= post.LikesCounter %>
        </div>
      </div>
      <div class="comment-list">
        <% post.comments.each do |comment| %>
          <%= render "comments/show", comment: comment, post: post %>
        <% end %>
      </div>
    </div>
  <% end %>

  <button>Pagination</button>
</div>
