<div>
  <%= render 'partials/user', { user: @user } %>

  <% @user.posts.each do |post| %>
    <div>
      <div>
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
        <div>
          Comments:
          <%= post.CommentsCounter %>, Likes:
          <%= post.LikesCounter %>
        </div>
      </div>
      <div>
        <% post.comments.each do |comment| %>
          <%= comment.user.name %>:
          <%= comment.text %>
        <% end %>
      </div>
    </div>
  <% end %>

  <button>Pagination</button>
</div>
