<div>
  <div>
    <%= @post.title %>
    by
    <%= @post.user.name %>
    Comments:
    <%= @post.CommentsCounter %>, Likes:
    <%= @post.LikesCounter %>
  </div>

  <p>
    <%= @post.text %>
  </p>
</div>

<div>
<% @post.comments.each do |comment| %>
  <%= comment.user.name %>: <%= comment.text %>
<% end %>
</div>
