<div class="post">
  <div>
    <%= @post.title %>
    by
    <%= @post.user.name %>
    Comments:
    <%= @post.CommentsCounter %>, Likes:
    <%= @post.LikesCounter %>
  </div>

  <p>
    <%= @post.text %>
  </p>

  <%= form_with url: "/users/#{@user_id}/posts/#{@id}/likes" do |form| %>
    <%= form.submit "Like post" %>
  <% end %>
</div>

<div class="comment-list">
  <%= render "comments/new", post: @post %>
  <% @post.comments.each do |comment| %>
    <%= render "comments/show", comment: comment, post: @post %>
  <% end %>
</div>
