<div class="post">
  <div>
    <%= @post.title %>
    by
    <%= @post.user.name %>
    Comments:
    <%= @post.CommentsCounter %>, Likes:
    <%= @post.LikesCounter %>
  </div>

  <p>
    <%= @post.text %>
  </p>

  <%= form_with url: like_post_path do |form| %>
    <%= form.submit "Like post" %>
  <% end %>
</div>

<div class="comment">
  <% @post.comments.each do |comment| %>
    <span><%= comment.user.name %>:
      <%= comment.text %></span>
  <% end %>
</div>
